html,
body {
  margin: 0;
  padding: 0;
}

#content {
  height: 100vh;
}

#current-weather {
  height: 80vh;
}

#daily-data {
  display: none;
  height: 80vh;
  overflow-y: auto;
}

#hourly-data {
  display: none;
  height: 80vh;
  overflow-y: auto;
}
